.image-cropper {
    width: 140px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;

}

h4.name-bold{
	font-weight: bold;
	color: #2196F3;
}

div.name-bold-main{
	margin-top: 20px;
	font-weight: bold;
	font-size: 21px;
	color: #4CAF50;
}

.padding-left-img{
	padding-left: 50px;
}
.padding-left-name{
	padding-left: 25px;
}

.padding-left-title{
	padding-left: 50px;
}

h5.padding-left-subtitle{
	padding-left: 60px;
}

h6.padding-left-line{
	padding-left: 100px;
	margin: 5px;
}

h5{
	margin: 7px;
}

